.hero-section {
    padding: 2rem;
    background-color: whitesmoke; 
    text-align: left;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .hero-right{
    width: 50%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: bottom;
    flex-direction: column;
  }

  .hero-right img{
    width: 100%;
    height: 100%;
  }
  
  .hero-left h1 {
    color: #010101; 
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 500px;
  }
  
  .hero-left p {
    margin-bottom: 2rem;
    font-size: 16px;
    color: #333; 
    max-width: 400px;
    line-height: 1.5;
  }
  
  .hero-left .request-loan-button {
    padding: 1rem 2rem;
    background-color: #FE7826; 
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
  }
  
  .active-users {
    margin-top: 2rem;
    font-size: 0.9rem;
  }
  